
<style>
    span {
        color: green
    }

    /*dinamik css icin*/
    .box {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin-right: 5px;
    }

    .yellow {
        background-color: #fbbd08;
    }

    .blue {
        background-color: blue
    }

    .green {
        background-color: green
    }
</style>

<div id="app">
    <br />

    <hr />
    <b>Dinamik CSS</b>
    <div @@click="attachedClass = !attachedClass"
         :class="divClass"
         class="box"></div>
    <div class="box" :class="{ yellow : attachedClass }"></div>
    <div class="box" :class="[color, { yellow : attachedClass }]"></div>
    <hr>
    <input type="text" v-model="color">

    <hr />
    <b>Computed ve Watch</b>
    <button v-on:click="counterC++">Arttır</button>
    <button v-on:click="counterC--">Azalt</button>
    <button v-on:click="secondCounter++">2.Counter'ı Arttır</button> <span>2.Counter'a basilirsa computeda girmez cunku onunla alakali birsey yok computedta</span>
    <p> Counter : {{ counterC }} | {{ secondCounter }}</p>
    <p> {{ result() }} | {{ output }}</p>

    <hr />
    <input type="text" v-model="twoWay">
    <p> {{ twoWay }}  <span>two way data binding.</span></p>
    <h3> {{ twoWay }} </h3>

    <hr />
    <h4 v-once>{{ title }} <span>v-once ile ilk data'daki halini alir, sonradan methodlarda yapilan degisiklikler dikkate alinmaz</span></h4>

    <hr />
    <input type="text" v-on:input="changeTitle">
    <p>{{ title }}</p>

    <hr />
    <p>{{ sayHello() }} - <a v-bind:href="link">Google</a> <span>{{}} seklinde yapilsa string interpolation oldugu icin metin olarak basar. Onun icin attributelar icin v-bind</span></p>

    <hr />
    <p v-html="link2"> <span> Html olarak basma</span></p>

    <hr />
    <button v-on:click="artir">Artir</button>
    <p>{{counter}} click burda dom eventi vue ile ilgili degil</p>
    <p v-on:mousemove="updateCoord(100,$event)">
        Coordinates: {{x}}/{{y}}
        <span v-on:mousemove.stop> Burada v-on calismaz</span>
    </p>
</div>