
<style>
    span {
        color: green
    }

    /*dinamik css icin*/
    .progress {
        background-color: blue;
        width: 10px;
        height: 20px;
    }

    .box {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin-right: 5px;
    }

    .yellow {
        background-color: #fbbd08;
    }

    .blue {
        background-color: blue
    }

    .green {
        background-color: green /*backgroundColor asagida kullanimi CamelCase*/
    }
</style>

<div id="app">
    <br />

    <hr />
    <b>v-if</b><br />
    <p v-if="show">Beni Görebilirsin!</p>
    <p v-if="!show">Beni görebilir misin acaba? :)</p>
    <button @@click="show = !show">Göster/Gizle</button>
    
    <span>v-if ile v-show arasindaki fark=> if yok eder, show gizler</span>
    <p v-if="sayi < 10">Sayı 10'dan küçüktür</p>
    <p v-else-if="sayi > 10">Sayı 10'dan büyüktür</p>
    <p v-else>Sayı 10'a eşittir</p>
    <hr>
    <button @@click="showParagh = !showParagh">Göster/Gizle</button>
    <p v-show="showParagh">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quos, voluptatem. Hic facilis, soluta mollitia repellendus maxime ab incidunt minus rerum, voluptate, inventore iure veritatis. Vel quae dolore, magni dignissimos.</p>

    <hr />
    <b>Dinamik CSS-Style ile</b><br />
    <div>
        <button v-on:click="startProgress">Progress İşlemini Başlat!</button>
        <br><br>
        <div class="progress" :style="{width : progressWidth + 'px'}"></div>
    </div>
    <div class="box" :style="{ backgroundColor : colorS}"></div>@*backgroundColor CamelCase*@
    <div class="box" :style="customStyle"></div>
    <div class="box" :style="[ customStyle , { width: yukseklik + 'px' } ]"></div>
    <div class="box" :style="myStyle"></div>
    <input type="text" v-model="colorS">
    <input type="text" v-model="yukseklik">
    <input type="text" v-model="myStyle.backgroundColor">



    <hr />
    <b>Dinamik CSS-Class ile</b><br />
    <div @@click="attachedClass = !attachedClass"
         :class="divClass"
         class="box"></div>
    <div class="box" :class="{ yellow : attachedClass }"></div><span>attachedClass bool=>true ise soldaki class'i goster</span>
    <div class="box" :class="[color, { yellow : attachedClass }]"></div><span>class'alari array seklinde vermek. color isimli degiskeni basar ve yellow;uda dogru ise</span>
    <hr>
    <input type="text" v-model="color">

    <hr />
    <b>Computed ve Watch</b><br />
    <button v-on:click="counterC++">Arttır</button>
    <button v-on:click="counterC--">Azalt</button>
    <button v-on:click="secondCounter++">2.Counter'ı Arttır</button> <span>2.Counter'a basilirsa computeda girmez cunku onunla alakali birsey yok computedta</span>
    <p> Counter : {{ counterC }} | {{ secondCounter }}</p>
    <p> {{ result() }} | {{ output }}</p>

    <hr />
    <input type="text" v-model="twoWay">
    <p> {{ twoWay }}  <span>two way data binding.</span></p>
    <h3> {{ twoWay }} </h3>

    <hr />
    <h4 v-once>{{ title }} <span>v-once ile ilk data'daki halini alir, sonradan methodlarda yapilan degisiklikler dikkate alinmaz</span></h4>

    <hr />
    <input type="text" v-on:input="changeTitle">
    <p>{{ title }}</p>

    <hr />
    <p>{{ sayHello() }} - <a v-bind:href="link">Google</a> <span>{{}} seklinde yapilsa string interpolation oldugu icin metin olarak basar. Onun icin attributelar icin v-bind</span></p>

    <hr />
    <p v-html="link2"> <span> Html olarak basma</span></p>

    <hr />
    <button v-on:click="artir">Artir</button>
    <p>{{counter}} click burda dom eventi vue ile ilgili degil</p>
    <p v-on:mousemove="updateCoord(100,$event)">
        Coordinates: {{x}}/{{y}}
        <span v-on:mousemove.stop> Burada v-on calismaz</span>
    </p>
</div>